
#list {
    width: 100vw;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url("/images/list-bck.jpg");
    font-family: "medium";

    .container {
        .col-md-1{
            a{
                text-decoration: none;
                color: $white;
            }
        }

        h1 {
            font-size: 3em;
            font-family: "thin";
        }


        .bg-white {
            min-height: 100vh;

            .accordion-button {
                background-color: black;
                color: $white;
            }

            form {
                input,
                select {
                    border: 2px solid black;
                }

                button {
                    background-color: transparent;
                    border: 2px solid black;
                    color: $black;
                    transition: 0.5s;

                    &:hover {
                        background-color: black;
                        color: $white;
                    }
                }
                .btn-danger{
                    background-color: darkred;
                    border: 2px solid darkred;
                    color: $white;
                    transition: 0.5s;

                    &:hover {
                        background-color: black;
                        color: $white;
                    }
                }
            }

            table {
                .head-row {
                    border-bottom: 3px solid black;
                }

                tr {
                    border-bottom: 1px solid black;

                    td {
                        width: 20%;
                    }
                }
            }
        }
    }
}

